<!DOCTYPE html>
<html>
<head>
    <title>Greeting App</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <main>
        <h1>Welcome to Mosta webapp</h1>
        <h2>This is a test webapp which is used in our CICD Labs</h2>
        <button class="toggle-overlay">Login</button>
    </main>

    <aside>
        <div class="outer-close toggle-overlay">
            <a class="close"><span></span></a>
        </div>
        <nav>
            <ul>
                <li><a href="/postgresstest">Test 1</a></li>
                <li><a href="/EventRegistrationForm">Event Registration Form</a></li>
                <li><a href="/RegisteredUsers">Registered Users</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </aside>
    <script src="js/script.js"></script>
</body>
</html>
